@model PirateBackend.Models.AthleticEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AthleticEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AthleticEventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleticEventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AthleticEventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleticEventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AthleticEventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleticEventDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AthleticEventLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleticEventLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AthleticEventOpponent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AthleticEventOpponent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Self)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Self)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AthleticEventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
