@model IEnumerable<PirateBackend.Models.AthleticEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AthleticEventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AthleticEventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AthleticEventDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AthleticEventLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AthleticEventOpponent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Self)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AthleticEventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AthleticEventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AthleticEventDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AthleticEventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AthleticEventOpponent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Self)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AthleticEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AthleticEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AthleticEventId })
        </td>
    </tr>
}

</table>
